data/future_testing/X_test_final.parquet
data/future_testing/y_test_final.parquet

data/processed/model_comparison.csv
data/processed/train_clean.parquet
data/processed/train_features.parquet
data/processed/train_merged.parquet

data/raw/train/weeks/week_20.parquet
data/raw/train/weeks/week_21.parquet
data/raw/train/weeks/week_22.parquet
data/raw/train/weeks/week_23.parquet
data/raw/train/weeks/week_24.parquet

data/raw/item_embeddings.npz
data/raw/items_metadata.parquet
data/raw/users_metadata.parquet

notebooks/catboost_info/

__pycache__/
*.py[cod]
.venv/
venv/
env/

.idea/
